fastapi
uvicorn
python-multipart
pillow
rembg[cli]
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
transformers
diffusers
accelerate
opencv-python-headless
